/* body{
    font-size: 12px;
} */
*{
 
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
.container{
    text-align: center;
    background-color: beige;
    border: solid gray 2px;
    width: 100vh;
    margin: 30vh auto;
   
  
}
.container  div{
    box-shadow: 27px 31px 12px -14px rgba(0,0,0,0.72);
    color: red;
    background-color: aqua;


    
}

ul li{
    display: inline-block;
    margin: 30px;
}
footer div ul li{
    display: inline-block;
}
footer div{
    align-items: center;
    border: solid black 2px;
    width: 500px;
    background-color: aquamarine;
    box-shadow: 27px 31px 12px -14px rgba(0,0,0,0.72);
}
footer{
    position: relative;
    left: 20%;
    display: inline;
    
    

}