*{
 
    box-sizing: border-box;
 
}
div{
    text-align: center;
    background-color: beige;
    border: solid gray 2px;
}
h1{
    color: red;
}
ul li{
    display: inline-block;
    margin: 30px;
}